<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block title %}
        {% if title %}
            <title>OSSlab - {{ title }}</title>
        {% else %}
            <title>OSSlab welcome</title>
        {% endif %}
    {% endblock title %}
</head>

<body>
    <div class="wrapper">

  {% block content %}
  {% endblock content %}  

  {% block content %}
  {% endblock content %} 
  
</div>
</body>

</html>